.Skills_Section {
  min-height: 50vh;
  @media only screen and (min-width: 900px) {
    min-height: 90vh;
  }
}

.Skills_Main_Name {
  text-align: center;
  color:#FAFAFA;
}

.Skills_Main_Box{
  margin-top: 2rem;
  border-radius: 0.6em;
  background-color: #3498db;
 /* background-image: url('/images/desert.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}

.Skills_Nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.Skills_Links{  
  border-radius: 0.6em;
  text-decoration: none;
  font-size: 1.5rem;
  color: #FAFAFA;
  transition: all 150ms ease-in-out;
  
  &:hover {
    color: #FAFAFA;
    text-decoration: none;
    box-shadow: 0 0 10px 0 #313436 inset, 0 0 10px 4px #3498db;
  }
}