.Skills_Section {
  min-height: 50vh;
  margin-top:5rem;
  @media only screen and (min-width: 900px) {
    min-height: 70vh;
  }
  @media(min-width:1800px){
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Skills_Main_Name {
  text-align: center;
  color:#FAFAFA;
  @media(min-width:770px){
    font-size: 1.5rem;
  }
  @media(min-width:1300px){
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  @media(min-width:1700px){
    font-size: 4rem;
  }
  @media(min-width:2100px){
    font-size: 5rem;      
  }
}

.Skills_Main_Box{
  margin-top: 2rem;
  border-radius: 0.6em;
  //background-color: #3498db;
  background-image: url('/images/desert.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  @media(min-width:1800px){
    width:150rem;
  }
  @media(min-width:2100px){
    width:185rem;
  }
}

.Skills_Nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.Skills_Links{  
  border-radius: 0.6em;
  text-decoration: none;
  font-size: 1.5rem;
  color: #FAFAFA;
  transition: all 150ms ease-in-out;
  @media(min-width:1300px){
    font-size: 2rem;
  }
  @media(min-width:1800px){
    font-size: 3rem;
  }
  
  &:hover {
    color: #FAFAFA;
    text-decoration: none;
    //box-shadow: 0 0 10px 0 #313436 inset, 0 0 30px 4px #3498db;
  }
}

.Skills_TextEnd{
  color: #fafafa;
  font-size: 1.2rem;
  box-sizing: border-box;
  overflow-x: hidden;
  display: inline-flex;
  width: 50%;
  height: 100%;
  @media(min-width:1800px){
    font-size: 1.6rem;
  }  
  @media(min-width:2100px){
    font-size: 2rem;
  }
}

.Skills_Article_End{
  margin-top: 3rem;
  @media(min-width:2100px){
    margin-top: 5rem;  
  }
}

.Skills_TextEnd_Left{
  width: 40%;
  margin: 0 1.5rem;  
  @media(min-width:770px){
    margin: 0 3rem;  
  }
  @media(min-width:1200px){
    margin: 1rem 5rem;  
  }
  @media(min-width:1800px){
    margin: 3rem 8rem;  
  }
}

.Skills_TextEnd_Right{
  width: 45%;
}

.Skills_TextEnd_Final{
  color: #FAFAFA;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  margin-top:3rem;
 @media(min-width:1800px){
    font-size: 1.6rem;
  }
  @media(min-width:2100px){
    font-size: 2rem;
  }
}