/* .SkillsAnimate_Box_All_Main{

} */

.SkillsAnimate_Box_Text_Outside{
    background-color: rgba(147,73,44,0.5);
    padding: 1rem;
}

.SkillsAnimate_Box_Text {
    text-align: center;
    font-size: 1.6rem;
    color: #fafafa;
    @media(min-width:1300px){
      font-size: 2rem;
      padding: 1rem;
    }
    @media(min-width:1700px){
      font-size: 3rem;
    }
}

.SkillsAnimate_List_All{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
}

.SkillsAnimate_List_UL{
  display:flex;
  flex-direction: column;
  flex-basis: 100%;
  flex:1 1;
}

.SkillsAnimate_List_UL_Web{
  @media(min-width:1100px){
    margin-left: 6%;
  }
}

.SkillsAnimate_List_UL_Learning, .SkillsAnimate_List_UL_Tools, .SkillsAnimate_List_UL_Design{
  margin-left: 12%;
  @media(min-width:770px){
    width: 5rem;
    margin-left: 15%;
  }
  @media(min-width:1300px){
    margin-left: 15%;
  }
  @media(min-width:1700px){
    margin-left: 20%;
  } 
  @media(min-width:2100px){
    margin-left: 22%;
  } 
}

.SkillsAnimate_List_LI{
    display: flex;
    align-items: center;
    color: #fafafa;
    list-style: none;
    font-size: 1rem;
    margin: 1rem 0;
    @media(min-width:770px){
      font-size: 1.5rem;
    }
    @media(min-width:1300px){
      margin: 2rem 0;
      font-size: 2rem;
    }    
    @media(min-width:1700px){
      font-size: 2.5rem;
      margin: 3rem 0;
    }    
}

.SkillsAnimate_List_Text{
    text-align: center;
    font-size: 1.2rem;
    margin:1rem;
    color: #fafafa;
    @media(min-width:770px){
      font-size: 1.5rem;
    }
    @media(min-width:1300px){
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    @media(min-width:1700px){
      font-size: 2.5rem;
    }
    @media(min-width:2100px){
      font-size: 3rem;      
    }
}

.SkillsAnimate_Icons{
  width: 2rem;
  height: auto;
  margin: 0.5rem;
  @media(min-width:770px){
    width: 3rem;
  }
  @media(min-width:1300px){
    width: 4rem;
  }
  @media(min-width:1700px){
    width: 5rem;
    margin-right:1rem;
  }
  @media(min-width:2100px){
    width: 7rem;
    margin-right:2rem;
  }
}