body {
  // background-color: #4c51bf;
  background: rgb(76, 81, 191);
  background: linear-gradient(
    63deg,
    rgba(76, 81, 191, 1) 0%,
    rgba(5, 1, 66, 0.9699230033810399) 55%,
    rgba(76, 81, 191, 1) 78%
  );
}

#Navbar-Main {
  min-height: 10vh;
  width: 80%;
  margin: 0 auto;
}

.Navbar-Logo {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
}

.Navbar-Links {
  font-size: 1.5rem;
}
