body {
  background: linear-gradient(
    36deg,
    rgba(120, 159, 173, 0.9531162806919643) 13%,
    rgba(41, 123, 108, 1) 27%,
    rgba(36, 120, 103, 1) 70%,
    rgba(120, 159, 173, 1) 91%
  );
}

#Navbar-Main {
  min-height: 10vh;
  width: 80%;
  margin: 0 auto;
}

.Navbar-Logo {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
}

.Navbar-Links {
  font-size: 1.5rem;
}
