body {
 /*  background: linear-gradient(
    20deg,
    rgba(115, 149, 174, 0.9671218829328606) 46%,
    rgba(101, 157, 189, 0.9559174011401436) 84%
  ); */  
  background-image: url('/images/skyatnight2.jpg');
  background-size: cover;
}

#Navbar-Main {
  min-height: 10vh;
  width: 80%;
  margin: 0 auto;
}

.Navbar-Logo {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
}

.Navbar-Links {
  font-size: 1.5rem;
}
